<div class="post" data-id="{{this.id}}">
	{{> score}}
	<h4><a href="/post/{{this.id}}">{{this.title}}</a></h4>
	<p class="metadata">posted <time class="timeago" datetime="{{this.createdAtISO}}"></time> by <a href="//twitter.com/{{this.author.username}}" target="_blank">@{{this.author.username}}</a></p>
	<p>{{this.content}}</p>
</div>