<div class="post {{#if this.preview}}post-preview{{/if}} {{#if this.stale}}stale{{/if}} {{#if this.locked}}locked{{/if}}" data-id="{{this.id}}">
	{{> score}}
	<div class="post-wrapper">
		<h3><a href="/post/{{this.id}}">{{this.title}}</a></h3>
		<p class="metadata">posted <time class="timeago" datetime="{{this.createdAtISO}}"></time>
	<!--		by <a href="//twitter.com/{{this.author.username}}" target="_blank">@{{this.author.username}}</a>-->
		</p>
		<p class="post-content">{{this.content}}</p>


	{{#unless this.preview}}
		<p>
			<a class="twitter-share-button" href="https://twitter.com/share"
				data-via="stiikr"
				data-size="medium"
				data-text="{{title}}">Tweet</a>
		</p>
	{{/unless}}
	</div>
</div>
