<div class="score-widget">
	<a href="#" class="vote-button{{#if this.upvote}} chosen{{/if}}" data-action="upvote" role="button"></a>
	<a href="#" class="vote-button{{#if this.downvote}} chosen{{/if}}" data-action="downvote" role="button"></a>
	<a href="https://twitter.com/share?url={{this.url}}&via=stiikr&text={{this.title}}" class="social-button tw" role="button" target="_blank"></a>
	<a href="http://www.facebook.com/share.php?u={{this.url}}&title={{this.title}}" class="social-button fb" role="button" target="_blank"></a>
	<span class="score-box" data-score="{{this.score}}"></span>
</div>
