<h1>Stiikr</h1>
{{#if user}}
<p>Welcome {{user.username}}</p>
<p><a href="/logout">logout</a></p>

<hr />

<form action="/new" method="POST">
	<h3>New Idea</h3>
	<p>
		<input type="text" name="title" placeholder="title" />
	</p>
	<p>
		<textarea name="desc" placeholder="description"></textarea>
	</p>
	<p>
		<input type="submit" value="post" />
	</p>
</form>
{{else}}
<p>Welcome! <a href="/auth/twitter">login</a></p>
{{/if}}

<hr />

<h2>Posts</h2>
{{#if posts}}
	{{#each posts}}
		<div>
			<h4><a href="/post/{{this.id}}">{{this.title}}</a></h4>
			<p>{{this.content}}</p>
			<p>by <a href="#">{{this.author.username}}</a></p>			
		</div>
	{{/each}}
{{/if}}