<h1><a href="/">Stiikr</a></h1>
{{#if user}}
<p>Welcome {{user.username}}</p>
<p><a href="/logout">logout</a></p>

<hr />

<form action="/new" method="POST">
	<h2>New Idea</h2>
	<p>
		<input type="text" name="title" placeholder="title" />
	</p>
	<p>
		<textarea name="desc" placeholder="description"></textarea>
	</p>
	<p>
		<input type="submit" value="post" />
	</p>
</form>
{{else}}
<p>Welcome! <a href="/auth/twitter">login</a></p>
{{/if}}

<hr />

<h2>Posts</h2>
{{#if posts}}
	{{#each posts}}
		<div class="post" data-id="{{this.id}}">
			<h4><a href="/post/{{this.id}}">{{this.title}}</a></h4>
			<p><span class="score">{{this.score}}</span> | <a href="#" class="upvote">upvote</a> | <a href="#" class="downvote">downvote</a> | <a href="/post/{{this.id}}#disqus_thread" data-disqus-identifier="{{this.id}}"></a>  | <time class="timeago" datetime="{{this.createdAtISO}}"></time></p>
			<p>{{this.content}}</p>
			<p>by <a href="//twitter.com/{{this.author.username}}" target="_blank">@{{this.author.username}}</a></p>
		</div>
		<hr />
	{{/each}}
{{/if}}

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'stiikr';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>