		<div class="post" data-id="{{id}}">
			<h4><a href="/post/{{id}}">{{title}}</a></h4>
			<p><span class="score">{{score}}</span> <a href="#" class="upvote">upvote</a> <a href="#" class="downvote">downvote</a></p>
			<p>{{content}}</p>
			<p>by <a href="#">@{{author.username}}</a></p>			
		</div>
		<hr />